<div class="container mt-5">
    <div class="row g-5">
        <h1>MULTIPLICACIÓN A * B</h1>
        <form [formGroup]="axb">
            <div>
            <label for="">Número 1</label>
            <input formControlName="aNum" type="number">
            </div>
            <br>
            <div>
            <label for="">Número 2</label>
            <input formControlName="bNum" type="number">
            </div>
           
            <button (click)="papu()" type="submit"
            class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >Calcular</button>
            <h1>Resultado: {{resultado}}</h1>
        </form>
    </div>
</div>
